<!DOCTYPE html>
<html>
  <head>
    <title>DoYouKanji</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="p-2 mb-2">
      <div class="container">
        <h1><%= link_to 'DoYouKanji', root_path, class: 'app-link' %></h1>
      </div>
    </header>
    <main class="cotainer p-4">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
    <footer class="py-3">
      <div class="container">
        <span>&copy; 2024 DoYouKanji</span>
      </div>
    </footer>
  </body>
</html>
